<button
  aria-controls="sidebar"
  type="button"
  class="peer inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-950 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600 transition"
>
  <span class="material-icons">menu</span>
</button>
<aside
  id="sidebar"
  class="z-40 fixed top-0 -left-full sm:left-0 h-screen w-64 bg-white shadow-2xl peer-focus:left-0 peer:transition ease-out delay-75 duration-200"
  aria-label="Sidebar"
>
  <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
    <div class="bg-gray-700 p-4 rounded-lg">
      <h1 class="text-center font-bold text-white">Hacker News</h1>
      <code class="text-white flex"
        >powered by:
        <p class="text-orange-500">ycombinator</p></code
      >
    </div>
    <hr class="h-px my-8 bg-gray-300 border-0 dark:bg-gray-700" />
    <ul class="space-y-2 font-medium">
      <li routerLinkActive="bg-gray-200 dark:bg-gray-700">
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group cursor-pointer"
          routerLink="home"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Home</span>
        </a>
      </li>
      <li routerLinkActive="bg-gray-200 dark:bg-gray-700">
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group cursor-pointer"
          routerLink="new"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">New</span>
        </a>
      </li>
      <li routerLinkActive="bg-gray-200 dark:bg-gray-700">
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group cursor-pointer"
          routerLink="jobs"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Jobs</span>
        </a>
      </li>
      <li routerLinkActive="bg-gray-200 dark:bg-gray-700">
        <a
          class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group cursor-pointer"
          routerLink="show"
        >
          <span class="flex-1 ms-3 whitespace-nowrap">Show</span>
        </a>
      </li>
    </ul>
    <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700" />
    <div class="flex">
      <div class="inline-flex rounded-md shadow-sm" role="group">
        <button
          type="button"
          (click)="darkModeToggle(!darkModeService.darkMode())"
          class="text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
        >
          @if (darkModeService.darkMode()) {
          <span class="material-icons">light_mode</span>
          }@else { <span class="material-icons select-none">dark_mode</span>
          }
        </button>
      </div>
    </div>
  </div>
</aside>
